a {
	text-decoration: none;
	@include transition(border-bottom 0.4s);
}
h1 {
	color: $button-font;
}
%underline {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 0%;
	background-color: $common-fc;
	@include transition(width 0.4s);
}
// form
input {
	height: 48px;
	@include box-sizing(border-box); 
	width: 100%;
	font-size: 24px;
	@include border-radius(5px);
	@include transition(border 0.5s);
}

.form {
	font: 400 16px/20px $lora;
	color: $common-fc;
	@include placeholder {
		color: #df2c2c;
		font-size: 16px;
	}

	label {
		font: 400 14px/20px $lora;
	}

	a {
		color: $links-btn-form;
		&:hover {
			text-decoration: underline;
		}
	}
}
// article-list
.article-list {
	font: 400 16px $roboto;
}

// home
body {
	font: 400 12px/20px $lora;
}
.header-wrapper {
	@extend .article-header;
	z-index: 2;
	border: none;
	background: rgba(0, 0, 0, 0.208);
	backdrop-filter: blur(2px);

	.home-logo {
		color: $home-logo;
		
		&::before {
			background: $home-logo;
		}
	}

	.inner-wrapper--padding {
		padding: 27px 50px 29px 50px;

		@media all and (max-width: $phones) {
			padding: 27px 15px 27px 30px;
		}
	}

	.header-links {
		a {
			font: 700 12px/14px $roboto;
			color: $border-stroke;
			margin-right: 27px;
			@media all and (max-width: $phones) {
				margin-right: 10px;
			}

			&:hover {
				color: $button-font;
				border-bottom: 2px solid $links-btn-form;
			}
		}
	}
}
// main-content
.common-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 310px);
	justify-content: center;
	gap: 51px 20px;
	@include font(400,12px,20px);
	color: $article-gray;

	img {
		width: 100%;
		margin-bottom: 13px;
		@include border-radius(6px);
	}

	h3 {
		margin: 13px 0;
	}

	a {
		@include font(700,18px,25px);
		color: $article-table;
		letter-spacing: 0.3px;

		&:hover {
			text-decoration: underline;
		}
	}
}

.home-footer-social {
	display: flex;
	column-gap: 21px;

	li {
		padding: 2px 0 0 1px;
	}
	a {
		font-size: 16px;
	}

	.icon-facebook:hover, .icon-behance:hover  {
		color: #4a6bd7;
	}
	.icon-twitter:hover {
		color: #28aef6;
	}
	.icon-youtube:hover, .icon-pinterest:hover {
		color: #df2c2c;
	}
}

// article page
.article-page-mn__article {
	font: 400 14px/25px 'Lora';
	color: $article-table;
}

