$phones-dinosaur: 320px;
$phones: 375px;
$phones-big: 593px;
$tablets: 844px; 
$tablets-big: 991px;
$desktops: 1226px;
$desktops2: 1199px;
$full-hd: 1440px;

$common-fc: #212529;
$border-stroke: #E5E5E5;
$focus-border: #6b6b6bae;
$focus-shadow: rgba(56, 128, 154, 0.749);
$bg-textarea: rgba(114, 160, 176, 0.193);
$bg-modal:rgba(116, 128, 132, 0.334);
$links-btn-form: #D4A373;
$main-btn-hover: #af7d4b;
$google-bnt: #343A40;
$google-btn-hover: #060606;
$button-font: #FFFFFF;
$button-file: rgba(0, 115, 255, 0.501);
$button-file-hvr: rgba(0, 115, 255, 0.7);
$back: #000000;
$article-gray:#6C757D;
$article-table: #495057;
$icon-pencil: #6fad66;
$icon-trash: #d63e6b;
$home-logo: #F8F9FA;
$hr-line: #C4C4C4;
$bg-related: rgba(229, 229, 229, 0.301);
$icon-sun: rgb(255, 196, 0);
$icon-ray: rgba(255, 128, 0, 0.835);

$spartan: 'League Spartan', sans-serif;
$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;