.origin-sun {
	position: absolute;
	z-index: -2;
}
.article-header__inner-wrapper {
	.icon_sun {
		position: absolute;
		left: 80px;
		top: -5px;
		padding: 20px;
		width: 30px;
		height: 30px;
		fill: $icon-sun;
		box-sizing: content-box;
		@include animate(rotate, 20s, linear, 0s, infinite, normal,both);

	}
}

.ray1 {
	@include animate(ray1, 1.2s, ease-out, 0s, infinite, normal,both);
}
.ray2 {
	@include animate(ray2, 0.8s, ease-out, 1s, infinite, normal,both);
}
.ray3 {
	@include animate(ray3, 1.5s, ease-out, 1.2s, infinite, normal,both);
}
.ray4 {
	@include animate(ray4, 1s, ease-out, 0s, infinite, normal,both);
}
.ray5 {
	@include animate(ray5, 0.8s, ease-out, 1s,infinite, normal,both);
}
.ray6 {
	@include animate(ray6, 1.5s, ease-out, 1.2s,infinite, normal,both);
}
.ray7 {
	@include animate(ray7, 1s, ease-out, 0s, infinite, normal,both);
}
.ray8 {
	@include animate(ray8, 0.8s, ease-out, 1s,infinite, normal,both);
}
.ray9 {
	@include animate(ray9, 1.5s, ease-out, 1.2s, infinite, normal,both);
}

@include keyframes(ray1) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(0,45px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(0,-55px);
	}
}
@include keyframes(ray2) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(0,65px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(45px,-55px);
	}
}
@include keyframes(ray3) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(-45px,55px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(45px,0px);
	}
}
@include keyframes(ray4) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(-55px,-45px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(45px,45px);
	}
}
@include keyframes(ray5) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(-30px,-35px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(30px,40px);
	}
}
@include keyframes(ray6) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(35px,45px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(-45px,-55px);
	}
}
@include keyframes(ray7) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(35px,45px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(-45px,-10px);
	}
}
@include keyframes(ray8) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(35px,-45px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(-45px,45px);
	}
}
@include keyframes(ray9) {
	from {
		opacity: 0;
		fill: $icon-sun;
		@include translate(0,-45px);
	}
	to {
		opacity: 1;
		fill: $icon-ray;
		@include translate(0,40px);
	}
}
@include keyframes(rotate) {
	from {
		@include rotate(0);
	}
	to {
		@include rotate(360);
	}
}